@reference "tailwindcss";

.settingsDialog {
    h1 {
        @apply text-emerald-300;
        align-self: center;
        font-size: 1.5rem;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.565);
    }

    p {
        margin-top: 20px;
    }
}

.configSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.japaneseLevelIconContainer {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;

    span, img {
        position: absolute
    }

    span {
        z-index: 1;
        right: 0;
        top: 1rem;
    }
}

.configType {
    color: white;
}
