@reference "tailwindcss";

.creditsDialog {
    h1 {
        @apply text-emerald-300;
        align-self: center;
        font-size: 1.5rem;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.565);
    }
}

.creditsGroup {
    margin-top: 20px;
}

.creditsType {
    @apply text-amber-200;
}

.creditsLink {
    @apply text-teal-200 underline;
    text-decoration-color: var(--color-teal-200);
}
