@import "tailwindcss";

.welcomeDialog {
    a {
        @apply text-orange-300 hover:underline;
    }

    p {
        margin: .25rem 0;
        color: white;
    }

    .altTextColor {
        @apply text-amber-100;
    }

    .japaneseWord {
        @apply text-emerald-300;

        @supports (-moz-appearance: none) {
            font-weight: bold;
        }
    }

    .noStrokeStyle {
        -webkit-text-stroke: unset;
    }
}
