@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
    font-family: 'RebellionSquad';
    src: url('/fonts/RebellionSquad-ZpprZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    font-family: "RebellionSquad", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    background: url("/images/bg-square.png");

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

:root {
    --main-title-height: 6rem;
    --controls-height: 6rem;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    height: var(--main-title-height);

    h1 {
        @apply text-3xl md:text-5xl ;
        -webkit-text-stroke: 1px black;
        text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5), 2px 3px 25px rgba(0, 0, 0, 0.4);
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - var(--main-title-height) - 40px);

    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    border: 2px dashed white;
    background-color: rgba(255, 255, 255, 0.3);
}

.game-footer, .main-title, .main-content, .game-controls, #welcome-dialog {
    @apply w-[calc(100%-20px)]  md:w-11/12 lg:w-4/5 xl:w-3/4 2xl:w-1/2;
}

.game-footer {
    display: flex;
    margin-top: 10px;
    justify-content: end;
}

/* Modal dialogs */
dialog {
    @apply text-base lg:text-lg;

    margin: auto;
    padding: 24px;

    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000060;
    background: #ffffff4d;
    -webkit-text-stroke: 1px #00000090;
    text-shadow: 2px 2px 8px #00000050;

    &:focus {
        outline: none;
    }

    &::backdrop {
        background: url("/images/bg-square.png");
        @apply backdrop-brightness-50 backdrop-blur-xl
    }

    .close-button {
        cursor: pointer;
        color: #397fba;
        border: 2px solid #ffffff80;
        padding: 5px 10px;
        border-radius: 10px;
        background-color: #e5edff;
        -webkit-text-stroke: 1px white;
        text-shadow: 1px 1px 5px #00000070;
        box-shadow: 2px 2px 2px #00000060;

        &:hover {
            background-color: white;
        }
    }
}

#settings-dialog {
    background: url("/images/bg-square.png");
    color: white;

    &::backdrop {
        background: none;
    }
}
