@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
    font-family: 'RebellionSquad';
    src: url('/fonts/RebellionSquad-ZpprZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    font-family: "RebellionSquad", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    background: url("/images/bg-square.png");

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    h1 {
        font-size: 50px;
        -webkit-text-stroke: 1px black;
        font-weight: bold;
        text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5), 2px 3px 25px rgba(0, 0, 0, 0.4);
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    border: 2px dashed white;
    background-color: rgba(255, 255, 255, 0.3);
}

.game-footer {
    display: flex;
    width: 1040px;
    margin-top: 10px;
}

.game-graph {
    border-radius: 20px;
    border: 2px dashed white;
}

@utility custom-slider-track {
    background: #ff6097;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

@utility custom-slider-thumb {
    /* Remove default slider style */
    -webkit-appearance: none;
    appearance: none;

    background: #ff9a44;
    border: 3px solid white;
    height: var(--slider-thumb-height);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4), 0 0 3px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
}

.game-controls {
    border-radius: 20px;
    border: 2px dashed white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;

    .play-pause-button {
        cursor: pointer;
    }

    .slider-container {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img#volume-icon, img#difficulty-icon {
        height: 40px;
        width: 40px;
    }

    input[type="range"] {
        /* Remove default slider style */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &:focus {
            /* Remove default slider style */
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            @apply custom-slider-track;
        }

        &::-moz-range-track {
            @apply custom-slider-track;
        }

        &::-webkit-slider-thumb {
            @apply custom-slider-thumb;
        }

        &::-moz-range-thumb {
            @apply custom-slider-thumb;
        }
    }
}
